<p style="color: green"><%= notice %></p>
<h1 class="title">Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
    <div id="restaurants" class="container m-4 p-3">
    <%= render restaurant %>
  </div>
    <% end %>
